<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> All Users </h1>

    {{#each users}}
        <form  method="GET" > 
            <h1>ID: {{this.id_num}} Name: {{this.username}}, email: {{this.email}}</h1>
            <button name="userId" value={{this.id_num}} type="submit" formaction="/edituser/{{this.id_num}}" >Update</button>
            {{!-- <button type="submit" >Delete</button> --}}
        </form>
    {{/each}}

    <script src="./js/main.js" ></script>
</body>
</html>